<template>
  <div class="p-6 w-full">
    <template v-if="currentProduct">
      <h2 class="font-bold mb-4">Продукт</h2>
      <p class="flex justify-between mb-3">
        <span>Название: {{ currentProduct.name }}</span>
        <template v-if="nameUpdating">
          <div class="flex">
            <input class="border px-2 mr-2" type="text" v-model="updatedProduct.name">
            <button class="text-green-700 font-bold cursor-pointer" @click="updateCurrentProduct">сохранить</button>
          </div>
        </template>
        <template v-else>
          <span class="font-semibold text-blue-700 cursor-pointer" @click="nameUpdating = true">изменить</span>
        </template>
      </p>
      <p class="mb-3 flex justify-between mb-3">
        <span> Цена: {{ currentProduct.price }}руб. </span>
        <template v-if="priceUpdating">
          <div class="flex">
            <input class="border px-2 mr-2" type="number" v-model="updatedProduct.price">
            <button class="text-green-700 font-bold cursor-pointer" @click="updateCurrentProduct">сохранить</button>
          </div>
        </template>
        <template v-else>
          <span class="font-semibold text-blue-700 cursor-pointer" @click="priceUpdating = true">изменить</span>
        </template>
      </p>
      <p class="mb-3 flex justify-between mb-3">
        <span>Дата: {{ new Date(currentProduct.date).toLocaleDateString() }}</span>
        <template v-if="dateUpdating">
          <div class="flex">
            <input class="border px-2 mr-2" type="date" v-model="updatedProduct.date">
            <button class="text-green-700 font-bold cursor-pointer" @click="updateCurrentProduct">сохранить</button>
          </div>
        </template>
        <template v-else>
          <span class="font-semibold text-blue-700 cursor-pointer" @click="dateUpdating = true">изменить</span>
        </template>
      </p>
    </template>
    <template v-else>
      <h2>К сожалению, такого продукта не существует!</h2>
      <nuxt-link to="/" class="text-green-700">На главную</nuxt-link>
    </template>
    <nuxt-link to="/" class="text-green-700">На главную</nuxt-link>
  </div>
</template>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';
  import { Mutation, Getter } from 'vuex-class';
  import Product from "~/models/Product";

  @Component
  export default class ProductPage extends Vue {
    @Mutation('SET_CURRENT_PRODUCT')
    public setCurrentProject: (id: string) => void;

    @Mutation('UPDATE_PRODUCT')
    public updateProduct: (product: Product) => void;

    @Getter('currentProduct')
    public currentProduct: Product | null;

    public nameUpdating: boolean = false;
    public priceUpdating: boolean = false;
    public dateUpdating: boolean = false;

    public updatedProduct: Product = Product.default();

    public updateCurrentProduct() {
      const { id } = this.$route.params;
      this.updateProduct(this.updatedProduct);
      this.setCurrentProject(id);
      this.nameUpdating = false;
      this.priceUpdating = false;
      this.dateUpdating = false;
      if (this.currentProduct) {
        this.updatedProduct = { ...this.currentProduct };
      }
    }

    public mounted() {
      const { id } = this.$route.params;
      this.setCurrentProject(id);
      if (this.currentProduct) {
        this.updatedProduct = { ...this.currentProduct };
      }
    }
  }
</script>
