<template>
  <div class="p-6">
    <h2>Страница №{{ pageNumber + 1 }}</h2>
    <div class="flex mb-6">
      <h2 class="font-semibold mr-2">Сортировать по:</h2>
      <label class="mr-2">
        По цене
        <input type="checkbox" v-model="sortedByPrice">
      </label>

      <label>
        По дате
        <input type="checkbox" v-model="sortedByDate">
      </label>

    </div>
    <table class="w-full mb-6">
      <thead>
        <tr>
          <th class="border py-2">name</th>
          <th class="border py-2">price, руб</th>
          <th class="border py-2">date</th>
          <th class="border py-2">actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(product, i) in paginatedData" :key="`product${i}`">
          <td class="px-1 py-2 border">
            <nuxt-link
              :to="`/product/${product.id}`"
              class="text-blue-700"
            >
              {{ product.name }}
            </nuxt-link>
          </td>
          <td class="px-1 py-2 border">{{ product.price }}</td>
          <td class="px-1 py-2 border">{{ new Date(product.date).toLocaleDateString() }}</td>
          <td class="px-1 py-2 border text-center">
            <span class="font-semibold text-red-700 cursor-pointer" @click="deleteProduct(product.id)">удалить</span>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <button
        class="p-2 font-bold"
        :class="{ 'bg-gray-500': pageNumber === 0,  'bg-blue-500': pageNumber > 0 }"
        :disabled="pageNumber === 0"
        @click="prevPage"
      >
        prev
      </button>
      <a
        v-for="pageIndex in pageCount"
        class="font-bold m-6"
        :class="{ 'text-green-700': pageIndex === pageNumber + 1 }"
        href="#"
        @click.prevent="toPage(pageIndex - 1)"
      >
        {{ pageIndex }}
      </a>
      <button
        class="p-2 font-bold"
        :class="{ 'bg-gray-500': pageNumber === pageCount - 1,  'bg-blue-500': pageNumber < pageCount - 1 }"
        @click="nextPage"
        :disabled="pageNumber >= pageCount - 1"
      >
        next
      </button>
    </div>
    <div class="flex flex-col shadow-md mt-6 p-3">
      <h2 class="mb-4">Новый продукт</h2>

      <div class="flex flex-col mb-3">
        <label for="newProductName" class="text-sm font-semibold">Название</label>
        <input id="newProductName" type="text" v-model="newProduct.name" class="border px-3 py-1">
      </div>

      <div class="flex flex-col mb-3">
        <label for="newProductPrice" class="text-sm font-semibold">Цена</label>
        <input id="newProductPrice" type="number" v-model="newProduct.price" class="border px-3 py-1">
      </div>

      <div class="flex flex-col mb-3">
        <label for="newProductDate" class="text-sm font-semibold">Дата</label>
        <input id="newProductDate" type="date" v-model="newProduct.date" class="border px-3 py-1">
      </div>

      <div class="flex justify-end mt-8">
        <button class="text-green-700 font-bold cursor-pointer" @click="createNewProduct">Создать</button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import { Getter, Mutation } from 'vuex-class';
import Product from "~/models/Product";

@Component
export default class IndexPage extends Vue {
  @Getter('products')
  public products: Array<Product>;

  @Mutation('REMOVE_PRODUCT')
  public removeProductById: (productId: string) => void;

  @Mutation('CREATE_PRODUCT')
  public createProduct: (newProduct: Product) => void;

  public productList: Array<Product> = [];
  public pageNumber: number = 0;
  public size: number = 2;

  public sortedByPrice: boolean = false;
  public sortedByDate: boolean = false;

  public newProduct: Product = Product.default();

  public get pageCount() {
    return Math.ceil(this.productList.length / this.size);
  }

  public get paginatedData(){
    const start = this.pageNumber * this.size;
    const end = start + this.size;
    return this.productList.slice(start, end);
  }

  public toPage(index: number) {
    this.pageNumber = index;
  }

  public nextPage() {
    this.pageNumber += 1;
  }

  public prevPage() {
    this.pageNumber -= 1;
  }

  public createNewProduct() {
    this.createProduct(this.newProduct);
    this.newProduct = Product.default();
    this.productList = [...this.products];
  }

  public deleteProduct(id: string) {
    this.removeProductById(id);
    this.productList = [...this.products];
  }

  public sortByPrice() {
    this.productList.sort((a, b) => a.price > b.price ? 1 : -1);
  }

  public sortByDate() {
    this.productList.sort((a, b) => a.date > b.date ? 1 : -1);
  }

  public mounted() {
    this.productList = [...this.products];
    this.sortedByPrice = true;
  }

  @Watch('sortedByPrice')
  public onPriceSortHandler(value: boolean) {
    if (value) {
      this.sortedByDate = false;
      this.sortByPrice();
    }
  }

  @Watch('sortedByDate')
  public onDateSortHandler(value: boolean) {
    if (value) {
      this.sortedByPrice = false;
      this.sortByDate();
    }
  }
}
</script>
